git+https://github.com/facebookresearch/fvcore
git+https://github.com/facebookresearch/xformers.git@v0.0.29.post3
git+https://github.com/facebookresearch/segment-anything.git
typeguard
torchmetrics
blenderproc
opencv-python 
omegaconf
ruamel.yaml
hydra-colorlog
hydra-core
triton
gdown
pandas
imageio
rich
pyrender
pytorch-lightning
pycocotools 
distinctipy
ultralytics==8.0.135 # FastSAM
timm
gorilla-core
trimesh
gpustat
imgaug
einops
